{% extends "main.html" %}

{% block title %}
    Assignments
{% endblock %}


{% block main %}
    <form action="/assignments" method="post">
    <div class="assignment">
        <div class="assignment-option1">
            <div style="height:30vh; align-items:center; justify-content: center;background-color: #ADD8E6; border-radius: 15px; ">
                <h2 class="coolHeader2" style="text-align: left; padding-left: 35px; padding-top: 37px">Calculus</h2>
                <h3 style="text-align: left; padding-left: 37px; padding-top: 7px; font-weight: bold; text-shadow: 3px 3px 2 #ADD8E6, -3px -3px 2 #ADD8E6;">M. Alan</h3>
                <h6 style="text-align: left; padding-left: 400px; padding-top: 80px; font-weight: bold; text-shadow: 3px 3px 2 #ADD8E6, -3px -3px 2 #ADD8E6;"><button class="block" style="text-align: left; font-weight: bold;" type="submit">Submit Assignments</button></h6>

            </div>

        </div>

        <div class="assignment-option2">
            <div style=" height:30vh; align-items:center; justify-content: center;background-color: #e7d39f; border-radius: 15px;">
                <h2  class="coolHeader2" style="text-align: left; padding-left: 35px; padding-top: 37px">English</h2>
                 <h3 style="text-align: left; padding-left: 37px; padding-top: 7px; font-weight: bold; text-shadow: 3px 3px 2 #ADD8E6, -3px -3px 2 #ADD8E6;">S. Larven</h3>
                <h6 style="text-align: left; padding-left: 400px; padding-top: 80px; font-weight: bold; text-shadow: 3px 3px 2 #ADD8E6, -3px -3px 2 #ADD8E6;"><button class="block" style="text-align: left; font-weight: bold;" type="submit">Submit Assignments</button></h6>
            </div>
        </div>

        <div class="assignment-option3">
            <div style=" height:30vh; align-items:center; justify-content: center;background-color: #90ee90; border-radius: 15px;">
                <h2  class="coolHeader2" style="text-align: left; padding-left: 35px; padding-top: 37px">Chemistry</h2>
                 <h3 style="text-align: left; padding-left: 37px; padding-top: 7px; font-weight: bold; text-shadow: 3px 3px 2 #ADD8E6, -3px -3px 2 #ADD8E6;">K. Hapter</h3>
                <h6 style="text-align: left; padding-left: 400px; padding-top: 80px; font-weight: bold; text-shadow: 3px 3px 2 #ADD8E6, -3px -3px 2 #ADD8E6;"><button class="block" style="text-align: left; font-weight: bold;" type="submit">Submit Assignments</button></h6>

            </div>
        </div>

        <div class="assignment-option4">
            <div style=" height:30vh; align-items:center; justify-content: center;background-color: #d3d3d3; border-radius: 15px;">
                <h2  class="coolHeader2" style="text-align: left; padding-left: 35px; padding-top: 37px">Physics</h2>
                 <h3 style="text-align: left; padding-left: 37px; padding-top: 7px; font-weight: bold; text-shadow: 3px 3px 2 #ADD8E6, -3px -3px 2 #ADD8E6;">L. Varatharajah</h3>
                <h6 style="text-align: left; padding-left: 400px; padding-top: 80px; font-weight: bold; text-shadow: 3px 3px 2 #ADD8E6, -3px -3px 2 #ADD8E6;"><button class="block" style="text-align: left; font-weight: bold;" type="submit">Submit Assignments</button></h6>
            </div>

        </div>

        <div class="assignment-option5">
            <div style=" height:30vh; align-items:center; justify-content: center;background-color: #CBC3E3; border-radius: 15px;">
                <h2  class="coolHeader2" style="text-align: left; padding-left: 35px; padding-top: 37px">Geography</h2>
                 <h3 style="text-align: left; padding-left: 37px; padding-top: 7px; font-weight: bold; text-shadow: 3px 3px 2 #ADD8E6, -3px -3px 2 #ADD8E6;">O. Haber</h3>
                <h6 style="text-align: left; padding-left: 400px; padding-top: 80px; font-weight: bold; text-shadow: 3px 3px 2 #ADD8E6, -3px -3px 2 #ADD8E6;"><button class="block" style="text-align: left; font-weight: bold;" type="submit">Submit Assignments</button></h6>
            </div>

        </div>
    </div>


</form>
{% endblock %}
