{% extends "main.html" %}

{% block title %}
    Dashboard
{% endblock %}


{% block main %}
<form action="/" method="POST">
    <div>

    <h1 class="coolHeader">Dashboard</h1>
    <div class="grid-container" >

        <div class="item1 grid-color">
            <div id="my-chart" >
              <table class="charts-css bar show-heading multiple show-labels show-primary-axis data-spacing-20 " >
                    <caption class="coolHeader2" style="padding-bottom: 15px; padding-left:20px; padding-top: 15px;">  <em>{{ username }}'s marks</em> </caption>
                    <tr style="padding-bottom: 15px; padding-left:20px;">
                        <th scope="row" style="font-size: 14px; "> Calculus  English  Physics Chemistry Geograph</th>

                      <td style="--size: 0.65">  <span class="data"> {{ marks[1] }} </span>  </td>
                         <td style="--size: 0.5"> <span class="data"> {{ marks[2] }}  </span> </td>
                        <td style="--size: 0.6"> <span class="data"> {{ marks[3] }} </span> </td>
                        <td style="--size: 0.45"> <span class="data"> {{ marks[4] }} </span> </td>
                        <td style="--size: 0.3"> <span class="data"> {{ marks[5] }} </span> </td>
                    </tr>
              </table>


                <h2 class="coolHeader2" >Reminders</h2>
                <div class="container-checkbox box">
                    <input type="checkbox" id="reminder1">
                    <label for="reminder1">Finish Calculus Homework</label>
                </div>
                <br>
                <div class="container-checkbox box">
                    <input type="checkbox" id="reminder2">
                    <label for="reminder2">Practice for English Presentation Monday</label>
                </div>
                <br>
                <div class="container-checkbox box">
                    <input type="checkbox" id="reminder3">
                    <label for="reminder3">Hand-in field trip form</label>
                </div>
                <br>
                <div class="container-checkbox box">
                    <input type="checkbox" id="reminder4">
                    <label for="reminder4">Soccer tryouts Thursday 7:00AM main field</label>
                </div>
                <br>
                <div class="container-checkbox box">
                    <input type="checkbox" id="reminder5">
                    <label for="reminder5">Bring equipment for experiment Friday</label>
                </div>
                <br>
                <div class="container-checkbox box">
                    <input type="checkbox" id="reminder6">
                    <label for="reminder6">Finish peer evaluation form</label>
                </div>
                </div>

        </div>

      <div class="item2 grid-color">
          <h2 class="coolHeader2">Calendar</h2>
          <div class="month">
  <ul>
    <li class="prev">&#10094;</li>
    <li class="next">&#10095;</li>
    <li>October<br><span style="font-size:18px">2021</span></li>
  </ul>
</div>

<ul class="weekdays">
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
  <li>Su</li>
</ul>

<ul class="days">
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
    <li>10</li>
  <li><span class="active">11</span></li>

    <li>12</li>
    <li>13</li>
    <li>14</li>
    <li>15</li>
    <li>16</li>
    <li>17</li>
    <li>18</li>
    <li>19</li>
    <li>20</li>
    <li>21</li>
    <li>22</li>
    <li>23</li>
    <li>24</li>
    <li>25</li>
    <li>26</li>
    <li>27</li>
    <li>28</li>
    <li>29</li>
    <li>30</li>
    <li>31</li>
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>

</ul>
    </div>


    </div>

      </div>




</form>
{% endblock %}
