{% extends "main.html" %}

{% block title %}
    Class Forum
{% endblock %}


{% block main %}

 <form action="/post1" method="post">

    <h3 class="coolHeader">
            Limits Homework
        </h3>

          <p>Type your comment below:</p>

    <input class="form-control mx-auto w-auto" id="post1" name="post1" placeholder="type here..." type="text">
     <br>
    <button type="submit" class="btn btn-primary">Submit</button>
    <br><br>

    <div style="background: #D3D3D3;">
    <h1 class="coolHeader2" style="text-align: justify; ">Comment Section:</h1>
        <br>
        <div>
            {% for i in range(count[0][0]) %}
            <p style="text-align: justify;  font-weight: bold; font-size: 20px; padding-left: 30px">{{ posts[i][2]}}: {{ posts[i][1] }}</p>
            <br>
            {% endfor %}
        </div>
    </div>
 </form>
{% endblock %}
